body {
  font-family: Arial;
  background-color: lightblue;
}

.box {
  width: 300px;
  margin: 100px auto;
  padding: 25px;
  background-color: white;
  border: 1px solid gray;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  width: 95%;
  padding: 8px;
  background-color: blue;
  color: white;
  border: none;
  margin-top: 10px;
}

button:hover {
  background-color: darkblue;
}
